<div id="prowered-by" class="row featured-section featured-section-prefix text-center featured-content-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
                <p class="small">GET LISTED AS AN ADOPTER</p>
                <p class="powered-by-description">Do you use Eclipse Cloud DevTools technology? You don’t have to be a
                    member of the Eclipse Foundation to get listed.</p>
                <p><a class="btn btn-primary" href="/adopters">LIST OF ADOPTERS</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container margin-top-40 margin-bottom-40">
    <h2>Who is Considered an Adopter?</h2>

    <p>Adopters are organizations that voluntarily show their support for any of the Eclipse Cloud DevTools projects they are leveraging. These organizations may be using project technology as the basis for commercial products, for non-commercial tools, or for internal tools.</p>

    <h2>How Can I Get My Logo Displayed?</h2>

    <p>You can easily add your organization&rsquo;s logo to our list of adopters by creating an issue or by submitting a pull request.</p>

    <h3>Option 1 - Open an Issue</h3>

    <ol>
        <li>Go to <a href="https://gitlab.eclipse.org/eclipsefdn/it/api/eclipsefdn-project-adopters/-/issues/">https://gitlab.eclipse.org/eclipsefdn/it/api/eclipsefdn-project-adopters/-/issues/</a>.</li>
        <li>Select the &lsquo;New Issue&rsquo; button.</li>
    </ol>

    <p>When submitting a pull request, please make the following changes to the eclipsefdn-project-adopters&#39; <a href="https://gitlab.eclipse.org/eclipsefdn/it/api/eclipsefdn-project-adopters">codebase</a>:</p>

    <ol start="3">
        <li>Attach logo files to an issue by dragging and dropping them in the text editor of the form.</li>
    </ol>

    <p></p>

    <h3>Option 2 - Submit a Pull Request</h3>

    <ol>
        <li>Go to <a href="https://gitlab.eclipse.org/eclipsefdn/it/api/eclipsefdn-project-adopters/">https://gitlab.eclipse.org/eclipsefdn/it/api/eclipsefdn-project-adopters</a>.</li>
        <li>Fork the repository.</li>
        <li>Update the adopter data file config/adopters.json. If your organization supports multiple projects, another project can be added to the projects list within the organization&rsquo;s node. The values in this list should be the ID of the project.</li>
        <li>Add a colored and a white organization logo to static/assets/images/adopters.</li>
        <li>Submit the pull request.</li>
    </ol>

    <h3>Logo Formats</h3>

    <ul>
        <li>
        <p>File should be transparent SVG files and compressed for the web.</p>
        </li>
        <li>
        <p>PNG files are accepted as an alternative.</p>
        </li>
        <li>
        <p>The background color needs to be transparent so that it works on colored backgrounds.</p>
        </li>
        <li>
        <p>The white version is required for some contexts, and that version needs to be transparent as well as it will not always appear on a white background. See <a href="https://www.eclipse.org/ditto/">here</a> for an example.</p>
        </li>
    </ul>

    <p>For any questions or to provide feedback, please <a href="https://www.eclipse.org/org/foundation/contact.php">contact us</a>.</p>


</div>