<!-- 
  Copyright (c) 2021 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Eric Poirier <eric.poirier@eclipse-foundation.org>
    
  SPDX-License-Identifier: EPL-2.0
-->

<div id="prowered-by" class="row featured-section featured-section-prefix text-center featured-content-white-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-14 col-md-offset-5 col-sm-18 col-sm-offset-3">
                <p class="small">MEMBERSHIP</p>
                <p class="powered-by-description">Join industry leaders like Ericsson, IBM, Red Hat, and
                    SAP as we define and build the future of web and
                    cloud development&nbsp;tools.</p>
                <p><a class="btn btn-primary" href="/membership/join-us">Join
                        Now</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-membership">
    <div class="container">
        <div class="row">
            <div class="col-sm-18 col-sm-offset-3">
                <div class="offwhite-bg-shadow text-center">
                    <h2 class="heading-underline text-center">MEMBERSHIP</h2>
                    <h3>Here are just some of the reasons
                        Cloud&nbsp;DevTools is trusted by industry leaders:</h3>

                    <div class="row margin-bottom-60">
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <div class="featured-section-membership-icon"><img class="img-responsive img-center"
                                    src="/images/ecdtools/membership/deep-dev.jpg"></div>
                            <p>Deep
                                development
                                tool
                                experience.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <div class="featured-section-membership-icon"><img class="img-responsive img-center"
                                    src="/images/ecdtools/membership/excellent-track.jpg"></div>
                            <p>Excellent track
                                record of
                                promoting
                                open cloud
                                tools projects.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <div class="featured-section-membership-icon"><img class="img-responsive img-center"
                                    src="/images/ecdtools/membership/easy-to-collaborate.jpg"></div>
                            <p>Easy to
                                collaborate
                                with other
                                organizations
                                to drive rapid
                                innovation.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <div class="featured-section-membership-icon"><img class="img-responsive img-center"
                                    src="/images/ecdtools/membership/provide-members.jpg"></div>
                            <p>Provide
                                members with
                                the legal
                                assurance.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 col-xs-offset-6 col-sm-offset-0 match-height-item-by-row margin-bottom-20">
                            <div class="featured-section-membership-icon"><img class="img-responsive img-center"
                                    src="/images/ecdtools/membership/eclipse-dev.jpg"></div>
                            <p>The Eclipse
                                Development
                                Process is a
                                set of best
                                practices.</p>
                        </div>
                    </div>

                    <h3>Cloud&nbsp;DevTools Working Group member benefits:</h3>
                    <div class="row margin-bottom-60">
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <p><img class="img-responsive img-center" src="/images/ecdtools/membership/check.jpg"></p>
                            <p>Collaborate
                                with industry
                                leaders.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <p><img class="img-responsive img-center" src="/images/ecdtools/membership/check.jpg"></p>
                            <p>Participate in
                                defining
                                strategic
                                priorities for
                                Cloud&nbsp;DevTools.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <p><img class="img-responsive img-center" src="/images/ecdtools/membership/check.jpg"></p>
                            <p>Gain access
                                to unique
                                insights and
                                market data.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 match-height-item-by-row margin-bottom-20">
                            <p><img class="img-responsive img-center" src="/images/ecdtools/membership/check.jpg"></p>
                            <p>Learn best
                                practices
                                to leverage
                                open Cloud
                                Development
                                Tool.</p>
                        </div>
                        <div class="col-sm-5th col-xs-12 col-xs-offset-6 col-sm-offset-0 match-height-item-by-row margin-bottom-20">
                            <p><img class="img-responsive img-center" src="/images/ecdtools/membership/check.jpg"></p>
                            <p>Help define
                                and build the
                                Open VSX
                                marketplace.</p>
                        </div>
                    </div>
                    <ul class="list-inline">
                        <li><a class="btn btn-primary"
                                href="https://www.eclipse.org/org/workinggroups/eclipse_cloud_development_charter.php">Working
                                Group Charter</a></li>
                        <li><a class="btn btn-primary"
                                href="https://www.eclipse.org/org/workinggroups/wpga/eclipse-cloud-development-tools-participation-agreement.pdf">Participation
                                Agreement</a></li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row featured-section featured-section-members">
    <div class="container">
        <div class="row">
            <div class="col-sm-16 col-sm-offset-4">
                <p class="featured-section-members-text">Becoming part of the Eclipse Cloud DevTools Working Group
                    demonstrates your commitment to the evolution and sustainability of industry-leading cloud
                    native development tools, while also ensuring the growth and development of a well-governed,
                    vendor-neutral open source ecosystem that benefits all.</p>
                <h2 class="heading-underline text-center">MEMBERS</h2>
                <ul class="list-inline eclipsefdn-members-list flex-center gap-40 margin-bottom-20"
                    data-ml-wg="cloud-development-tools" data-ml-template="logo-with-levels" data-ml-level-under-logo="true">
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row featured-section featured-section-members-testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-18 col-lg-offset-3">
                <h2 class="heading-underline text-center">WHAT OUR MEMBERS ARE SAYING</h2>
                {{ if .Site.Data.testimonials.items }}
                    <div class="row testimonial-container margin-top-30">
                        {{ range first 3 .Site.Data.testimonials.items }}
                        <div class="col-md-8">  
                            <div class="white-bg-shadow margin-bottom-20 match-height-item-by-row">
                                <p><img class="testimonial-logo img img-responsive" src="{{ .logo }}" width="{{ .logo_width | default 125 }}" alt="{{ .company }} logo"></p>
                                <p class="testimonial-content flex-grow">"{{ .text }}"</p>
                                <p><strong>{{ .name }}</strong><br> {{.title}} at {{ .company }}</p>
                            </div>                     
                        </div>
                        {{ end }}

                        <div class="collapse" id="featured-more-items" aria-expanded="false">
                            <ul class="list-inline">
                              {{ range after 3 .Site.Data.testimonials.items }}
                                <div class="col-md-8">
                                    <div class="white-bg-shadow margin-bottom-20 match-height-item-by-row">
                                        <p><img class="testimonial-logo img img-responsive" src="{{ .logo }}" width="{{ .logo_width | default 125 }}" alt="{{ .company }} logo"></p>
                                        <p class="testimonial-content flex-grow">"{{ .text }}"</p>
                                        <p><strong>{{ .name }}</strong><br> {{.title}} at {{ .company }}</p>
                                    </div>                     
                                </div>
                              {{ end }}
                            </ul>
                        </div>

                    </div>
                {{ end }}
                {{ if gt (len (.Site.Data.testimonials.items)) 3 }}
                <p class="text-center margin-top-30">
                    <a data-toggle-text="View Less" role="button" data-toggle="collapse" href="#featured-more-items" aria-expanded="false" aria-controls="featured-more-items" class="btn btn-primary toggle-text">View More</a>
                </p>
                
                {{ end }}
            </div>
        </div>
    </div>
</div>
