

.header-membership-bg-img {
    background-image:@featured-jumbotron-membership-bg-img; 
}

.featured-section-membership {
    background-image:@featured-membership-bg-img;
    background-position: top;
    padding-top: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: @brand-primary;
    h3, p {
        font-size: 16px;
    }
    h3 {
        font-weight: 500;
        margin-bottom:30px;
    }
    p {
        font-weight: 300;
    }
}

.featured-section-membership-icon {
    height:65px;
}

.featured-section-members {
    text-align: center;
    font-weight: 300;
    h2 {
        margin-top:80px;
    }
    .featured-section-members-text {
        font-size:18px;
    }
	ul.list-inline {
		text-align: center;
		.featured-section-members-list {
			padding: 0 15px;
			text-align: center;
		}
		p {
			margin-top: 15px;
		}
		span {
			font-size: 14px;
		}
		a {
			max-width: 125px;
		}
	}
}
